body{
	background: rgb(221 221 221);
}
#üst{
	height: 80px;
	position: relative;	
	background: white;
}
#isim{
	
	width: 210px;
	height: 60px;
	margin-top: 10px;
	float: left;
	animation-name: gecis;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-fill-mode: both;
	animation-delay: 1s;
	color:white;

}
#instagram{
	
	width: 40px;
	height: 30px;
	float: right;
	margin-top: 50px;
	margin-right: 20px;
}
#facebook{
	
	width: 40px;
	height: 30px;	
	float: right;
	margin-top: 50px;
	margin-right: 20px;
}
#menu{
	height: 60px;
	border:1px solid black;
	margin:auto;
	margin-top: 10px;
	font-size: 40px;
	text-align: center;
	background: rgb(255 0 0);
	font-style: italic;	
}

#sol{
	width: 440px;
	height: 400px;
	margin-top: -400px;
	float: left;

}
#sag{
	width: 440px;
	height: 400px;
	margin-top: -400px;
	float: right;
}
#orta{
	width: 430px;
	height: 400px;
	border:1px solid rgb(221 221 221);
	margin: auto;
	margin-top: 10px;
	font-size: 22px;
	text-align: center;
	background: rgb(221 221 221);
	color:black;
}
#foto1{
	height: 220px;
	width: 440px;
	border: 1px solid black;
}
#foto2{
	
	background-position: bottom;
	height: 220px;
	width: 440px;
	margin-top: 5px;
	border: 1px solid black;
}
#video1{
	height: 220px;
	width: 440px;
	border: 1px solid black;
}
#video2{
	height: 220px;
	width: 440px;
	margin-top: 5px;
	border: 1px solid black;
}
video{
	width: 440px;
	height: 220px;
}
a{
	text-decoration: none;
	color: white;
	padding: 15px;
}
a[name=x]{
	padding: 0px;
}
img{
	height: 100%;
	width: 100%;
}
img[name=icon]{
	width: 40px;
	height: 30px;
}
img[name=isimm]{
	width: 210px;
	height: 60px;
}
@keyframes gecis{
	
	50%{
		margin-left: 950px;
	}
	
}



@media screen and (max-width: 500px) {

body{
	background: lightblue;
}
#üst{
	height: 40px;
	position: relative;	
	background: yellow;
}
#isim{
	width: 90px;
	height: 35px;
	float: left;
	animation-name: gecis;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-fill-mode: both;
	animation-delay: 1s;
	color:white;

}
#instagram{
	
	width: 20px;
	height: 15px;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}
#facebook{
	
	width: 20px;
	height: 15px;	
	float: right;
	margin-top:20px;
	margin-right: 10px;
}
#menu{
	height: 50%;
	margin:auto;
	margin-top: 10px;
	font-size: 150%;
	text-align: center;
	background: black;
	font-style: italic;	
}
#orta{
	height: 350px;
	border:1px solid lightblue;	
	font-size: 20px;
	text-align: center;
	background: lightblue;
	color:black;
}
#sol{
	width: 100%;
	height: 100%;
	margin-top: 10px;
}
#sag{
	width: 100%;
	height: 100%;
	margin-top: 10px;

}
#foto1{
	width: 100%;
	height: 100%;
	border: 0px ;
}
#foto2{
	background-position: bottom;
	width: 100%;
	height: 100%;
	border: 0px ;
}
#video1{
	width: 100%;
	height: 100%;
	border: 0px ;
}
#video2{
	width: 100%;
	height: 100%;
	border: 0px ;

}
video{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
	color: white;
	padding: 6px;

}
img{
	width: 100%;
	height: 100%;
}
img[name=icon]{
	width: 20px;
	height: 15px;
}
img[name=isimm]{
	width: 90px;
	height: 25px;
}
@keyframes gecis{
	
	50%{
		margin-left: 65%;
	}
	
}
}

@media screen and (min-width: 501px) and (max-width: 1365px){

body{
	background: red;
}
#üst{
	height: 40px;
	position: relative;	
	background: lightblue;
}
#isim{
	width: 90px;
	height: 35px;
	float: left;
	animation-name: gecis;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-fill-mode: both;
	animation-delay: 1s;
	color:white;

}
#instagram{
	
	width: 3%;
	height: 15px;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}
#facebook{
	
	width: 3%;
	height: 15px;	
	float: right;
	margin-top:20px;
	margin-right: 10px;
}
#menu{
	height: 50%;
	margin:auto;
	margin-top: 10px;
	font-size: 130%;
	text-align: center;
	background: white;
	font-style: italic;	
}
#orta{
	height: 350px;
	border:0px;
	font-size: 130%;
	text-align: center;
	background: red;
	color:white;
}
#sol{
	width: 100%;
	height: 100%;
	margin-top: 50px;
	float: left;
}
#sag{
	width: 100%;
	height: 100%;
	margin-top: 10px;
}
#foto1{
	width: 100%;
	height: 100%;
	border: 0px ;
	
}
#foto2{
	background-position: bottom;
	width: 100%;
	height: 100%;
	border: 0px ;
	
}
#video1{
	width: 100%;
	height: 100%;
	border: 0px ;
	
}
#video2{
	width: 100%;
	height: 100%;
	border: 0px ;
	
}
a{
	text-decoration: none;
	color: black;
	padding: 30px;

}
video{
	width: 100%;
	height: 100%;
}
img{
	width: 100%;
	height: 100%;
}
img[name=icon]{
	width: 120%;
	height: 15px;
}
img[name=isimm]{
	width: 90px;
	height: 25px;
}
@keyframes gecis{
	
	50%{
		margin-left: 65%;
	}
	
}
}