body{
	background: rgb(221 221 221);
}

#üst{
	height: 50px;
	width: 100%;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	margin-top: 10px;
	font-size: 250%;
	letter-spacing: 10px;
}
#menu{
	height: 60px;
	border:1px solid black;
	margin:auto;
	margin-top: 10px;
	font-size: 40px;
	text-align: center;
	background: rgb(255 0 0);
	font-style: italic;	
}
#bilgi{
	width: 100%;
	height: 100%;
}
.slider{
	position: relative;
	width: 100%;
	height: 600px;
	border: 1px solid black;
	margin: auto;
	margin-top: 5%;
	overflow: hidden;
}
.slider-content{
	position: absolute;
	width: 500%;
	left: 0;
	animation-name: slide;
	animation-duration: 30s;
	animation-iteration-count: infinite;
}
.slider-item{
	width: 20%;
	float: left;
}
h1{
	text-decoration: underline;
	margin-top: 4%;
	text-align: center;
}
p{
	font-size: 150%;
	margin-top: 2%;
	text-align: center;
}
a{
	text-decoration: none;
	color: white;
	padding: 1%;
}
a[name]{
	text-decoration: none;
	color: black;
	padding: 0px;
}
a[href^="#"]{
	text-decoration: none;
	color: black;
	padding: 0px;
}
img{
	width: 100%;
	height: 600px;
}
@keyframes slide{
	0%{
		transform: translateX(0px);
	}
	11%{
		transform: translateX(0px);
	}
	22%{
		transform: translateX(-20%);
	}
	33%{
		transform: translateX(-20%);
	}
	44%{
		transform: translateX(-40%);
	}
	55%{
		transform: translateX(-40%);
	}
	66%{
		transform: translateX(-60%);
	}
	77%{
		transform: translateX(-60%);
	}
	88%{
		transform: translateX(0px);
	}
	100%{
		transform: translateX(0px);
	}
}

@media screen and (max-width: 500px){
body{
	background: lightblue;
}
#üst{
	background-color: yellow;
}
#menu{
	font-size: 160%;
	background-color: black;
}
.slider{
	width: 100%;
	height: 300px;
}
.slider-content{
	width: 600%;
}
.slider-item{
	width: 17%;
}
img{
	width: 100%;
	height: 300px;
}
h1{
	color: red;
}
@keyframes slide{
	0%{
		transform: translateX(0px);
	}
	11%{
		transform: translateX(0px);
	}
	22%{
		transform: translateX(-17%);
	}
	33%{
		transform: translateX(-17%);
	}
	44%{
		transform: translateX(-34%);
	}
	55%{
		transform: translateX(-34%);
	}
	66%{
		transform: translateX(-51%);
	}
	77%{
		transform: translateX(-51%);
	}
	88%{
		transform: translateX(0px);
	}
	100%{
		transform: translateX(0px);
	}
}
}

@media screen and (min-width: 501px) and (max-width: 1365px){
body{
	background: red;
}
#üst{
	background-color: lightblue;
}
#menu{
	height: 100%;
	font-size: 160%;
	background-color: white;
}
#bilgi{
	background-color: white;
}
.slider{
	width: 100%;
	height: 400px;
	overflow: hidden;
}
.slider-content{
	width: 400%;
}
.slider-item{
	width: 25%;
}
img{
	width: 100%;
	height: 400px;
}
a{
	text-decoration: none;
	color: black;
	padding: 1%;
}
h1{
	color: darkgreen;
}
@keyframes slide{
	0%{
		transform: translateX(0px);
	}
	11%{
		transform: translateX(0px);
	}
	22%{
		transform: translateX(-25%);
	}
	33%{
		transform: translateX(-25%);
	}
	44%{
		transform: translateX(-50%);
	}
	55%{
		transform: translateX(-50%);
	}
	66%{
		transform: translateX(-75%);
	}
	77%{
		transform: translateX(-75%);
	}
	88%{
		transform: translateX(0px);
	}
	100%{
		transform: translateX(0px);
	}
}
}