body{
	background: rgb(221 221 221);
}
#üst{
	height: 100%;
	width: 100%;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	margin-top: 10px;
	font-size: 250%;
	letter-spacing: 10px;
}
#menu{
	height: 100%;
	border:1px solid black;
	margin:auto;
	margin-top: 10px;
	font-size: 250%;
	text-align: center;
	background: rgb(255 0 0);
	font-style: italic;	
}
#tarihce{
	width: 50%;
	height: 100%;
	font-size: 110%;
	margin-top: 10px;
	float: left;
}
#foto{
	width: 50%;
	height: 100%;
	margin-top: 5%;
	float: right;
	overflow: hidden;
}
a{
	text-decoration: none;
	color: white;
	padding: 1%;
}
h1{
	text-align: center;
	text-decoration: underline;
}
img{
	width: 100%;
	height: 100%;
	margin-top: 5%;
}

@media screen and (max-width: 500px){
body{
	background: lightblue;
}
#üst{
	background-color: yellow;
}
#menu{
	font-size: 160%;
	background-color: black;
}
#tarihce{
	width: 100%;
	height: 100%;
	float: none;
}
#foto{
	width: 100%;
	height: 100%;
	margin-top: 5%;
	float: none;
	overflow: hidden;
}
h1{
	color: red;
}
}

@media screen and (min-width: 501px) and (max-width: 1365px){
	body{
	background: red;
}
#üst{
	background-color: lightblue;
}
#menu{
	font-size: 200%;
	background-color: white;
}
#tarihce{
	width: 100%;
	height: 100%;
	font-size: 110%;
	margin-top: 10px;
	background-color: white;
	float: none;
}
#foto{
	width: 100%;
	height: 100%;
	margin-top: 5%;
	float: none;
	overflow: hidden;
}
h1{
	color: darkgreen;
}
a{
	color: black;
}
}